<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="salud, saludable, alimentacion, habitos">
    <link rel="stylesheet" href="/static/css/habitos_saludables.css">
    <title>Habitos saludables</title>
    
    
</head>
<body>
    <header>
       
       
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="Recetas.html">recetas</a>
            <a href="recomendaciones.html">recomendaciones</a>
            <a href="http://www.google.com" target="_blank">google</a>
        </nav>
        <br>
        <br>
        <h1 class="titulo"> Habitos saludables</h1>
        
      
    </header>
    <main>
        <section id="bloque1">
            <h1>
                Comer bien es salud
             </h1>
         </section>
         <br>
         <section id="contenido-bloque1">
            
            <div>
                    <p>
                      Tener un estilo de vida saludable y la importancia de <br> incluir
                       en tus platos, al menos, un 50% de verdura, <br> un 25% de hidratos
                      de carbono y otro 25% de proteína.
                    </p> 
                 </div>
                 <br>
                 <section id="bloque2"> 
                    <h2 class="titulo">la importancia de tener buena salud</h2>

                 </section> 
                 <section id="contenido-bloque2">
                    <img src="img/sistema inmune.jpeg" alt="">
                 <p id="p-bloque2">Tu sistema inmune es el encargado de protegerte frente a enfermedades. <br> 
                     Para mantenerlo en forma, es importante acompañarlo de una buena alimentación <br>
                     y tener un equilibrio en las bacterias del intestino. ¡Descubrí cómo mantener <br>
                     tu sistema inmune sano y cómo reforzar tu alimentación todos los días!</p>

                 </section>
                        <br>
                    
                </div>

            
         </section>
        <section id="bloque 2">
            <div>
                <h2 class="titulo">
                    Te dejamos un video con unos consejitos
                </h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2qFDfppksG8?si=8eWM0cptTtxCFRrq"
                 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <br>
        <section id="bloque 3">
            <h2 class="titulo">
                Recuerda esto
            </h2>
            <table border="1">
                <tr>
                    <th>
                       <h3>
                        Desayuno
                       </h3> 
                    </th>
                    <th>
                        <h3>
                            Almuerzo
                        </h3>
                    </th>
                    <th>
                        <h3>
                            Merienda
                        </h3>
                    </th>
                    <th>
                        <h3>
                            Cena
                        </h3>
                    </th>
                </tr>
                <tr>
                    <td>
                        como un rey
                    </td>
                    <td>
                        como un principe
                    </td>
                    <td>
                        como un mendigo
                    </td>
                    <td>
                        como un vagabundo
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>